################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.ipynb_checkpoints/FE_PROJECT1_06-checkpoint.ipynb
